@font-face {
  font-family: "summer85regular";
  src: url("summer85-webfont.woff2") format("woff2"),
    url("summer85-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
.h1 {
  color: white;
  z-index: 1000;
  font-family: "summer85regular";
  font-size: 6rem;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px black, 4px 4px #df00ff;
}

h2,
.h2 {
  color: white;
  z-index: 1000;
  font-family: "summer85regular";
  font-size: 3rem;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px black, 4px 4px #df00ff;
}

.math-sign {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: transparent;
  border: 4px solid #df00ff;
  color: white;
  font-size: 6rem;
  width: 100%;
  height: 100%;
  z-index: 10;
  font-family: "summer85regular";
  cursor: pointer;
  text-shadow: 2px 2px black, 4px 4px #df00ff;
  backdrop-filter: blur(5px);
}
.button:hover,
.button:focus {
  box-shadow: 0 0 10px #df00ff, inset 0 0 10px #df00ff;
  outline: none;
}
.button.active {
  background-color: #df00ff;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-rows: 200px;
  width: 100%;
  justify-items: center;
  grid-gap: 20px;
}

.button:active,
.button:focus {
  background-color: #df00ff;
}

.grid-container {
  height: 70vh;
  position: relative;
  padding: 50px;
}
/* Making the grid equal the parent .grid-container*/
.grid-container .grid {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
/* An inner that is only 1 column */
.grid-container .grid.grid-1 {
  grid-template-columns: 1fr;
}
/* An inner container that is two columns that are equal width */
.grid-container .grid.grid-2 {
  grid-template-columns: 1fr 1fr;
}
/* An inner container that is two columns that are equal width */
.grid-container .grid.grid-first-fixed {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr repeat(3, 100px);
}

.grid-container:nth-child(even) {
  background: rgb(4, 1, 9);
  background: linear-gradient(
    0deg,
    rgba(63, 3, 156, 1) 0%,
    rgba(4, 1, 9, 1) 100%
  );
}

.grid-container:nth-child(odd) {
  background: rgb(4, 1, 9);
  background: linear-gradient(
    0deg,
    rgba(4, 1, 9, 1) 0%,
    rgba(63, 3, 156, 1) 100%
  );
}

.grid-container:nth-child(odd):before,
.grid-container:nth-child(even):before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent 95%, #df00ff 5%),
    linear-gradient(to right, transparent 95%, #df00ff 5%);
  background-size: 1px 100px, 100px 1px;
  position: absolute;
  opacity: 0.2;
  z-index: 2;
}
.grid-container:nth-child(odd):after,
.grid-container:nth-child(even):after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=ffffff&density=8&opacity=53);
  background-size: cover;
  background-repeat: repeat;
  z-index: 1;
  background-color: red;
  position: absolute;
  opacity: 0.1;
}
/* 
.grid-container:nth-child(odd):after {
  content: "";
  display: block;
  height: 100px;
  bottom: 50px;
  width: 110vw;
  left: -5vw;
  background-color: red;
  border-radius: 50%;
  z-index: 0;
  position: relative;
}

.grid-container:nth-child(even):after {
  content: "";
  display: block;
  height: 100px;
  bottom: 50px;
  width: 110vw;
  left: -5vw;
  background-color: blue;
  border-radius: 50%;
  z-index: 0;
  position: relative;
}

.grid-container:last-of-type:after {
  display: none;
} */
