.grid-container {
  height: 100vh;
}
/* Making the grid equal the parent container which is 100 view height (100vh) */
.grid-container .grid {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
/* An inner that is only 1 column */
.grid-container .grid.grid-1 {
  grid-template-columns: 1fr;
}
/* An inner container that is two columns that are equal width */
.grid-container .grid.grid-2 {
  grid-template-columns: 1fr 1fr;
}
